.outer {
  width: 200px; height: 200;
  background-color: #eee;
  border-radius: 50%;
  overflow: hidden;
}
.with-bg {
  height: 100%;
  background-image: url(./Chapter 08/mona-lisa.jpg);
  background-size: cover;
}