div {
  width: 200px; height:200px;
  background:
    /* linear-gradient(217deg,red, transparent 70%),
    linear-gradient(127deg, lime, transparent 70%),
    linear-gradient(336deg, blue, transparent 70%);
     */
  linear-gradient(red 0%, white 40%, blue 100%);
  border-radius: 50%;
  box-shadow: 5px 5px 12px gray;
}